{% extends 'base.html' %}

{% block breadcrumb %}STUDENTS{% endblock %}

{% block content %}
<h1>All Students</h1>

{% if students %}
    <p>Total: <strong>{{ students|length }}</strong> students</p>

    <table>
        <thead>
            <tr>
                <th>LRN</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Middle Name</th>
                <th>Sex</th>
                <th>Birthday</th>
                <th>Section</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td class="mono">{{ student.lrn }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.middle_name|default:"—" }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.birthday|date:"Y-m-d" }}</td>
                <td>{{ student.section_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No students found for this school yet.</p>
{% endif %}
{% endblock %}
